<div class="doc-nav">
  <div class="doc-page-title"><a href="<!-- @path index -->">Matter</a></div>
  <ul>
    <li><a href="<!-- @path / -->">Introduction<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path foundation -->">Foundation<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path components -->">Components<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="">Patterns<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="">Layouts<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="">Examples<i class="material-icons">arrow_forward</i></a></li>
  </ul>
</div>

<div class="doc-nav <!-- $foundation-nav | inactive -->">
  <ul>
    <li><a href="<!-- @path design-principles -->">Design Principles<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path colors -->">Colors<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path typography -->">Typography<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path iconography -->">Iconography<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path elevation -->">Elevation<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path animation -->">Animation<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path writing-style -->">Writing Style<i class="material-icons">arrow_forward</i></a></li>
  </ul>
</div>

<div class="doc-nav <!-- $components-nav | inactive -->">
  <ul>
    <li><a href="<!-- @path buttons -->">Buttons<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path text-inputs -->">Text Inputs<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path tooltips -->">Tooltips<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path alerts -->">Alerts<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path menus -->">Menus<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path search -->">Search<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path selectors -->">Selectors<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path chips -->">Chips<i class="material-icons">arrow_forward</i></a></li>
    <li><a href="<!-- @path containers -->">Containers<i class="material-icons">arrow_forward</i></a></li>
  </ul>
</div>

<div class="doc-nav <!-- $patterns-nav | inactive -->">
  <ul>
    <li><a href="<!-- @path action-bars -->">Action Bars<i class="material-icons">arrow_forward</i></a></li>
  </ul>
</div>
