<div class="doc-nav">
  <div class="doc-page-title"><a href="<!-- @path index -->">Matter</a></div>
  <ul>
    <li><a href="<!-- @path /foundation -->">Foundation</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path /components -->">Components</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="">Patterns</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="">Layouts</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="">Examples</a><i class="material-icons">arrow_forward</i></li>
  </ul>
</div>

<div class="doc-nav <!-- $foundation-nav | inactive -->">
  <ul>
    <li><a href="<!-- @path introduction -->">Introduction</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path design-principles -->">Design Principles</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path colors -->">Colors</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path typography -->">Typography</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path iconography -->">Iconography</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path elevation -->">Elevation</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path animation -->">Animation</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path writing-style -->">Writing Style</a><i class="material-icons">arrow_forward</i></li>
  </ul>
</div>

<div class="doc-nav <!-- $components-nav | inactive -->">
  <ul>
    <li><a href="<!-- @path buttons -->">Buttons</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path -->">Text Inputs</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path  -->">Tooltips</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path  -->">Alerts</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path  -->">Menus</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path  -->">Search</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path  -->">Selectors</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path  -->">Tabs</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path  -->">Chips</a><i class="material-icons">arrow_forward</i></li>
    <li><a href="<!-- @path  -->">Action Bars</a><i class="material-icons">arrow_forward</i></li>
  </ul>
</div>
