<!-- $components-nav      active -->
<!-- $page-title          Buttons -->

<!-- @include header -->

<section class="doc-section doc-section-intro">
  <h1 class="doc-h1"><!-- $page-title | Page Title --></h1>

  <ul class="doc-contents">
    <li><a href="#raised-button">Raised button</a></li>
    <li><a href="#flat-button">Flat button</a></li>
    <li><a href="#secret-button">Secret Button</a></li>
    <li><a href="#icon-button">Icon Buttons</a></li>
  </ul>

  <p class="doc-p">Buttons are used for actions (note: define actions - where a server request is made? where a user submits information on a form.) / The text within a button communicates the action that will occur when the user clicks the button.</p>

</section>

<section class="doc-section" id="raised-button">
  <h2 class="doc-h2"><a href="#raised-button">Raised Button<i class="material-icons">link</i></a></h2>

  <p class="doc-p">Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum.</p>

  <h3 class="doc-h3">Default</h3>
  <div class="doc-example">
    <div class="doc-example-preview">
      <!-- $class button -->
      <!-- @include button-raised -->
    </div>
    <pre class="doc-example-code"><code class="html"><!-- $class button --><!-- @include button-raised --></code></pre>
  </div>

  <h4 class="doc-h4">States</h4>
  <div class="doc-states">
    <div class="doc-states-state">
      <div class="doc-states-name">Default</div>
      <div class="doc-states-example"><!-- $class button --><!-- @include button-raised --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Hover</div>
      <div class="doc-states-example"><!-- $class button doc-state-hover --><!-- @include button-raised --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Active</div>
      <div class="doc-states-example"><!-- $class button doc-state-active --><!-- @include button-raised --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Focus</div>
      <div class="doc-states-example"><!-- $class button doc-state-focus --><!-- @include button-raised --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Disabled</div>
      <div class="doc-states-example"><!-- $class button doc-state-disabled --><!-- @include button-raised --></div>
    </div>
  </div>

  <h3 class="doc-h3">Emphasis</h3>
  <div class="doc-example">
    <div class="doc-example-preview">
      <!-- $class button emphasis -->
      <!-- @include button-raised -->
    </div>
    <pre class="doc-example-code"><code class="html"><!-- $class button emphasis --><!-- @include button-raised --></code></pre>
  </div>

  <h4 class="doc-h4">States</h4>
  <div class="doc-states">
    <div class="doc-states-state">
      <div class="doc-states-name">Default</div>
      <div class="doc-states-example"><!-- $class button emphasis --><!-- @include button-raised --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Hover</div>
      <div class="doc-states-example"><!-- $class button emphasis doc-state-hover --><!-- @include button-raised --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Active</div>
      <div class="doc-states-example"><!-- $class button emphasis doc-state-active --><!-- @include button-raised --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Focus</div>
      <div class="doc-states-example"><!-- $class button emphasis doc-state-focus --><!-- @include button-raised --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Disabled</div>
      <div class="doc-states-example"><!-- $class button emphasis doc-state-disabled --><!-- @include button-raised --></div>
    </div>
  </div>

</section>

<section class="doc-section" id="flat-button">
  <h2 class="doc-h2"><a href="#flat-button">Flat Button<i class="material-icons">link</i></a></h2>

  <p class="doc-p">Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum.</p>

  <div class="doc-example">
    <div class="doc-example-preview">
      <!-- $class button flat  -->
      <!-- @include button-flat -->
    </div>
    <pre class="doc-example-code"><code class="html"><!-- $class button flat --><!-- @include button-flat --></code></pre>
  </div>

  <h4 class="doc-h4">States</h4>
  <div class="doc-states">
    <div class="doc-states-state">
      <div class="doc-states-name">Default</div>
      <div class="doc-states-example"><!-- $class button flat --><!-- @include button-flat --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Hover</div>
      <div class="doc-states-example"><!-- $class button flat doc-state-hover --><!-- @include button-flat --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Active</div>
      <div class="doc-states-example"><!-- $class button flat doc-state-active --><!-- @include button-flat --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Focus</div>
      <div class="doc-states-example"><!-- $class button flat doc-state-focus --><!-- @include button-flat --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Disabled</div>
      <div class="doc-states-example"><!-- $class button flat doc-state-disabled --><!-- @include button-flat --></div>
    </div>
  </div>

</section>

<section class="doc-section" id="secret-button">
  <h2 class="doc-h2"><a href="#secret-button">Secret Button<i class="material-icons">link</i></a></h2>

  <p class="doc-p">Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum.</p>

  <h3 class="doc-h3">Default</h3>
  <div class="doc-example">
    <div class="doc-example-preview">
      <!-- $class button secret  -->
      <!-- @include button-secret -->
    </div>
    <pre class="doc-example-code"><code class="html"><!-- $class button secret --><!-- @include button-secret --></code></pre>
  </div>

  <h4 class="doc-h4">States</h4>
  <div class="doc-states">
    <div class="doc-states-state">
      <div class="doc-states-name">Default</div>
      <div class="doc-states-example"><!-- $class button secret --><!-- @include button-secret --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Hover</div>
      <div class="doc-states-example"><!-- $class button secret doc-state-hover --><!-- @include button-secret --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Active</div>
      <div class="doc-states-example"><!-- $class button secret doc-state-active --><!-- @include button-secret --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Focus</div>
      <div class="doc-states-example"><!-- $class button secret doc-state-focus --><!-- @include button-secret --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Disabled</div>
      <div class="doc-states-example"><!-- $class button secret doc-state-disabled --><!-- @include button-secret --></div>
    </div>
  </div>

  <h3 class="doc-h3">Emphasis</h3>
  <div class="doc-example">
    <div class="doc-example-preview">
      <!-- $class button secret emphasis  -->
      <!-- @include button-secret -->
    </div>
    <pre class="doc-example-code"><code class="html"><!-- $class button secret emphasis --><!-- @include button-secret --></code></pre>
  </div>

  <h4 class="doc-h4">States</h4>
  <div class="doc-states">
    <div class="doc-states-state">
      <div class="doc-states-name">Default</div>
      <div class="doc-states-example"><!-- $class button secret emphasis --><!-- @include button-secret --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Hover</div>
      <div class="doc-states-example"><!-- $class button secret emphasis doc-state-hover --><!-- @include button-secret --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Active</div>
      <div class="doc-states-example"><!-- $class button secret emphasis doc-state-active --><!-- @include button-secret --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Focus</div>
      <div class="doc-states-example"><!-- $class button secret emphasis doc-state-focus --><!-- @include button-secret --></div>
    </div>
    <div class="doc-states-state">
      <div class="doc-states-name">Disabled</div>
      <div class="doc-states-example"><!-- $class button secret emphasis doc-state-disabled --><!-- @include button-secret --></div>
    </div>
  </div>

</section>



<!-- @include footer -->
