<!-- $components-nav      active -->
<!-- $page-title          Buttons -->

<!-- @include header -->

<section class="doc-section doc-section-intro">
  <h1 class="doc-h1"><!-- $page-title | Page Title --></h1>

  <ul class="doc-contents">
    <li><a href="#default-button">Default button</a></li>
    <li><a href="#flat-button">Flat button</a></li>
    <li><a href="#secret-button">Secret Button</a></li>
    <li><a href="#icon-button">Icon Buttons</a></li>
  </ul>

  <p class="doc-p">Buttons are used for actions (note: define actions - where a server request is made? where a user submits information on a form.) / The text within a button communicates the action that will occur when the user clicks the button.</p>

</section>

<section class="doc-section">
  <h2 class="doc-h2"><a href="#default-button" id="default-button">Default Button<i class="material-icons">link</i></a></h2>

  <p class="doc-p">Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum.</p>

  <div class="doc-example">

    <div class="doc-example-preview">
      <!-- @include button-default-button -->
    </div>

    <pre class="doc-example-code"><code class="html"><!-- @include button-default-button --></code></pre>

  </div>

</section>



<!-- @include footer -->
