@import "foundation";

.doc-body {
  display: flex;
}

.doc-nav {
  width: 25%;
  height: 100vh;
  max-width: 16rem;
  min-width: 12rem;
  border-right: 1px solid #DFDFDF;
  overflow-x: scroll;

  ul {
    padding: 4rem 0 0;

    li {
      list-style-type: none;
      margin: 0;
      font: .875rem/1.25rem 'Roboto', sans-serif;
      i { visibility: hidden; }
      a {
        color: #9D9D9D;
        padding: .25rem .875rem .25rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
          color: #666666;
        }
      }

    }

    li.current, li.current-parent {
      background: #f5f6fb;
      font-weight: 500;
      color: #3A40C1;
      i { visibility: visible; }
      a {
        color: #3A40C1;
      }
    }

  }

  .doc-page-title {
    display: flex;
    align-items: center;
    padding: 0 0 0 1.5rem;
    position: absolute;
    height: 4rem;
    font: 1.25rem/1.875rem 'Roboto Mono', monospace;

    a {
      color: #3A40C1;
    }
  }

  &.inactive { display: none; }

}

.doc-content {
  height: 100vh;
  width: 100%;
  overflow: scroll;
  min-width: 60rem;
}

.doc-h1 {
  font:  4rem/150% 'Roboto Mono', 'Monaco', monospace;
  color: #FFFFFF;
  padding-bottom: 1rem;
}

.doc-h2 {
  font: 1.5rem/150% 'Roboto Mono', 'Monaco', monospace;
  color: #3A40C1;
  padding-bottom: .5rem;
  display: block;
}

.doc-h3 {
  font: 1rem/150% 'Roboto Mono', 'Monaco', monospace;
  color: #333333;
  padding: 2rem 0 .5rem;
}

.doc-h4 {
  font: .875rem/150% 'Roboto Mono', 'Monaco', monospace;
  color: #9d9d9d;
  padding: 2rem 0 .5rem;
}

.doc-h2 a {
  color: #3A40C1;
  align-items: center;
  display: flex;
  i {
    visibility: hidden;
    color: #9d9d9d;
    margin-left: .5rem;
  }

  &:hover, &:focus {
    outline: 0;
    i {
      visibility: visible;
    }
  }
}

.doc-section {
  padding: 3rem 4rem;
  border-top: 1px solid #dfdfdf;

  .doc-p {
    font-size: 1rem;
    line-height: 150%;
    color: #666666;
    padding-bottom: 1rem;
  }
}

.doc-section.doc-section-intro {
  border: 0;
  background: #3A40C1;
  .doc-p {
    font-size: 1.25rem;
    line-height: 150%;
    color: #FFFFFF;
  }
}

.doc-contents {
  padding: 0;
  margin-left: 3rem;
  float: right;
  width: 33%;
  border-left: 1px solid #FFFFFF;

  li {
    list-style-type: none;
    margin: .75rem 1rem;
    font: 1rem/1rem 'Roboto Mono', 'Monaco', sans-serif;

    a {
      color: #FFFFFF;
      //padding: .25rem .875rem .25rem 1.5rem;
      &:hover {
        color: #FFFFFF;
      }
    }
  }
}

.doc-example {
  border-radius: 2px;
  border: 1px solid #DFDFDF;

  .doc-example-preview {
    padding: 2rem;
  }

  .doc-example-code {
    border-top: 1px solid #dfdfdf;
    background: #f5f6fb;
    padding: .5rem;

    code {
      font: .75rem/.75rem 'Roboto Mono', 'Monaco', monospace;
    }
  }
}

.doc-states {
  border-radius: 2px;
  border: 1px solid #dfdfdf;
  display: block;

  .doc-states-state {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #dfdfdf;

    &:last-of-type {
      border: 0;
    }

    div {
      padding: 1.5rem;
    }

  }

  .doc-states-name {
    border-right: 1px solid #dfdfdf;
    width: 30%;
    font: .625rem/150% 'Roboto Mono', 'Monaco', monospace;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #999999;
    background: #f5f6fb;

  }
  .doc-states-example {
    width: 70%;
    pointer-events: none;
    user-select: none;
  }
}

.doc-swatches {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;

  .doc-swatches-container {
    padding: 0 1rem 1rem 0;
    width: 25%;
  }

  .doc-swatches-swatch {
    border-radius: 2px;
    font: 14px/20px 'Roboto Mono', 'Monaco', monospace;
    color: #ffffff;
    padding: .75rem 1rem;
    height: 8rem;
    flex-grow: 1;
    flex-basis: auto;

    .doc-swatches-name {
      font-weight: 500;
      font-size: 16px;
      padding-bottom: .25rem;
    }

    .doc-swatches-hex, .doc-swatches-rgb {
      letter-spacing: .15rem;
      .doc-swatches-label { opacity: 0.75; }
    }
  }

  .doc-swatches-blue { background-color: $color-blue; }

}

/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}
