.doc-body {
  display: flex;
}

.doc-nav {
  width: 25%;
  height: 100vh;
  max-width: 16rem;
  min-width: 12rem;
  border-right: 1px solid #DFDFDF;
  overflow-x: scroll;

  ul {
    padding: 4rem 0 0;

    li {
      list-style-type: none;
      margin: 0;
      padding: .25rem .875rem .25rem 1.5rem;
      font: .875rem/1.25rem 'Roboto', sans-serif;
      display: flex;
      align-items: center;
      justify-content: space-between;
      i { visibility: hidden; }
      a { color: #9D9D9D; }
      a:hover { color: #666666; }
    }

    li.current, li.current-parent {
      background: #f5f6fb;
      font-weight: 500;
      color: #3A40C1;

      i { visibility: visible; }
      a { color: #3A40C1; }
    }

  }

  .doc-page-title {
    display: flex;
    align-items: center;
    padding: 0 0 0 1.5rem;
    position: absolute;
    height: 4rem;
    font: 1.25rem/1.875rem 'Roboto Mono', monospace;

    a {
      color: #3A40C1;
    }
  }

  &.inactive { display: none; }

}

.doc-content {
  height: 100vh;
  width: 100%;
  overflow: scroll;
  padding: 4rem 5% 5% 5%;
}

.doc-h1 {
  font: 300 3rem/4rem 'Roboto Mono', 'Monaco', monospace;
  color: #3A40C1;
}
