@mixin button ($background-color: $color-button-default, $color: $color-text-default) {
  background-color: $background-color;
  color: $color;
  border-radius: $radius;
  box-shadow: $elevation-1;
  height: 2rem;
  padding: 0 1rem;
  font: $font-regular;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color $transition-duration-fast, color $transition-duration-fast, box-shadow $transition-duration-medium;
  transition-timing-function: $transition-timing-function-standard;

  &:hover,
  &.doc-state-hover {
    background: lighten($background-color, 5%);
    box-shadow: $elevation-4;
    transition-timing-function: $transition-timing-function-standard;
  }

  &:active,
  &.doc-state-active {
    box-shadow: $elevation-1;
  }

  &:focus,
  &.doc-state-focus {
    background: lighten($background-color, 10%);
    box-shadow: $elevation-1;
  }

  &.disabled,
  &.doc-state-disabled {
    cursor: not-allowed;
    box-shadow: $elevation-0;
    opacity: .5;
  }
}

@mixin button-color($background-color: $color-button-emphasis, $color: $color-text-white) {
  background-color: $background-color;
  color: $color;

  &:hover,
  &.doc-state-hover {
    background: darken($background-color, 5%);
  }

  &:active,
  &.doc-state-active {
  }

  &:focus,
  &.doc-state-focus {
    background: darken($background-color, 10%);
  }

  &.disabled,
  &.doc-state-disabled {
  }

}

@mixin button-flat ($background-color: $color-button-default, $color: $color-text-default) {
  box-shadow: $elevation-0;

  &:hover,
  &.doc-state-hover {
    background-color: $background-color;
    box-shadow: $elevation-4;
  }

  &:active,
  &.doc-state-active {
    box-shadow: $elevation-1;
  }

  &:focus,
  &.doc-state-focus {
    box-shadow: $elevation-1;
  }

  &.disabled,
  &.doc-state-disabled {
  }
}

@mixin button-secret ($color: $color-text-default) {
  box-shadow: $elevation-0;
  background: transparent;
  color: $color;

  &:hover,
  &.doc-state-hover {
    box-shadow: $elevation-2;
  }

  &:active,
  &.doc-state-active {
    box-shadow: $elevation-1;
  }

  &:focus,
  &.doc-state-focus {
    box-shadow: $elevation-1;
  }

  &.disabled,
  &.doc-state-disabled {
  }

}

.button { @include button(); }
.button.emphasis { @include button-color(); }
.button.flat { @include button-flat(); }
.button.secret { @include button-secret(); }
.button.secret.emphasis { @include button-secret($color-blue); }
